.action {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

/* Modal 2 */
.divDialog {
  position: fixed;
  max-height: 80vh;
  top: 10vh;
  left: 50%;
  background: #ddd;
  transform: translate(-50%, -50%);
  padding: 1rem;
  z-index: 9999;
}
