.action {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

/* Modal 2 */
.divDialog {
  position: fixed;
  top: 50dvh;
  top: 50%;
  background: #ddd;
  padding: 1rem;
  z-index: 9999;
  transform: translate(0, -50%);
}
