/* Modal 1 */
body:has(dialog:modal) {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

dialog {
  background: #ddd;
}

dialog:modal::backdrop {
  background: rgba(128, 0, 0, 0.5);
}

/* Modal 2 */
body.open {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}
